@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lexend:wght@100..900&family=Varela+Round&display=swap');

:root {
   --base: #191724;
   --surface: #1f1d2e;
   --overlay: #26233a;
   --muted: #6e6a86;
   --subtle: #908caa;
   --text: #e0def4;
   --red: #eb6f92;
   --yellow: #f6c177;
   --pink: #ebbcba;
   --pine: #31748f;
   --foam: #9ccfd8;
   --purple: #c4a7e7;
   --low: #21202e;
   --med: #403d52;
   --high: #524f67;
}

* {
   color: var(--text);
   font-family: "Varela Round";
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--base);
}

#sudoku-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 100px 0px;
   gap: 50px;
   flex-wrap: wrap;
}

#sudoku {
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: repeat(9, 1fr);
   width: 600px;
   height: 600px;
   border: 5px solid var(--text);
}

.sudoku-cell {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 2.5rem;
   border: 1px solid var(--high);
   box-sizing: border-box;
   background: var(--base);
   user-select: none;
}

.sudoku-cell:nth-child(9n+3),
.sudoku-cell:nth-child(9n+6) {
   border-right: 5px solid var(--text);
}

.sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-cell:nth-child(n+46):nth-child(-n+54) {
   border-bottom: 5px solid var(--text);
}

.given {
   color: var(--text);
   cursor: default;
}

.editable {
   color: var(--foam);
}

.editable:hover {
   background-color: var(--high);
   cursor: pointer;
}

.invalid {
   color: var(--red)
}

.selected {
   background-color: var(--med);
}

#ui-container {
}

button {
   color: var(--text);
   background: var(--surface);
   border: solid var(--subtle) 5px;
   font-family: "Varela Round";
   cursor: pointer;
   border-radius: 5px;
}

#numbers-container {
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}

.number {
   font-size: 3rem;
   width: 100px;
   height: 100px;
}

#clear {
   width: 330px;
   grid-column: span 3 / span 3;
   height: 75px;
   font-size: 2rem;
   margin-top: -20px;
}

#start {
   grid-column: span 3 / span 3;
   height: 75px;
   font-size: 2rem;
   margin-top: -20px;
   background: var(--text);
   color: var(--base);
}

#title {
   text-align: center;
   font-size: 48px;
   margin-top: 20px;
}

#subtitle {
   text-align: center;
   font-size: 24px;
}

#timer {
   margin-bottom: 20px;
   font-size: 32px;
}

